
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/futurapt/FuturaPT-Demi.eot');
    src: local('Futura PT Demi'), local('../fonts/futurapt/FuturaPT-Demi'),
        url('../fonts/futurapt/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futurapt/FuturaPT-Demi.woff2') format('woff2'),
        url('../fonts/futurapt/FuturaPT-Demi.woff') format('woff'),
        url('../fonts/futurapt/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/futurapt/FuturaPT-Book.eot');
    src: local('Futura PT Book'), local('../fonts/futurapt/FuturaPT-Book'),
        url('../fonts/futurapt/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futurapt/FuturaPT-Book.woff2') format('woff2'),
        url('../fonts/futurapt/FuturaPT-Book.woff') format('woff'),
        url('../fonts/futurapt/FuturaPT-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}



